@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    /* background-image: linear-gradient( 109.9deg, rgba(251, 189, 100, 1) 1.8%, rgba(255, 207, 139, 1) 95.4%); */
    height: 100vh;
    width: 100%;
}


/*Colors*/

.gradient-primary {
    background-color: #8e44ad;
    background-size: cover;
}

.gradient-primary:hover {
    background-color: #a653ca;
}

.checkbox-color {
    color: #667eea;
}

.done-green {
    background-color: #c6ffde;
}

.pointer {
    cursor: pointer;
}

.w-104 {
    width: 32rem;
}

.w-108 {
    width: 36rem;
}


/**/

.tasks-container {
    max-height: 350px;
    overflow-y: auto;
    border-radius: 12px;
}

.tasks-container::-webkit-scrollbar {
    width: 8px;
}

.tasks-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 99px;
}

.tasks-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 99px;
}

.tasks-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#add-task-title::placeholder {
    font-weight: 500;
}

.logout-btn {
    position: absolute;
    left: 3%;
    top: 85%;
    transform: translate(-50%, -50%);
}


/*RESPONSIVE*/

@media (max-width: 600px) {
    .logout-btn {
        position: absolute;
        left: 50%;
        top: 85%;
        transform: translate(-50%, -50%);
    }
}